@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #135e91;
}
#content5-y .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
  color: #135e91;
}
#content5-y DIV {
  color: #000000;
}
#content5-y B {
  color: #435968;
}
#content5-14 P {
  color: #000000;
}
#content4-13 H4 {
  color: #135e91;
}
#footer1-5 P {
  color: #435968;
}


#content5-g .mbr-section-title {
  color: #135e91;
}
#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-b .navbar-toggler {
  color: #135e91;
}
#msg-box2-k P {
  color: #a8d0ea;
}
#content5-e P {
  color: #8f99af;
}
#content5-e .mbr-section-title {
  font-size: 36px;
  color: #135e91;
}
#social-buttons2-1a .mbr-section-title {
  color: #5cb85c;
  font-size: 24px;
  font-family: 'PT Sans Narrow', sans-serif;
}
#msg-box2-l P {
  color: #a8d0ea;
}
#content5-f .mbr-section-title {
  font-size: 36px;
  color: #135e91;
  text-align: left;
}
#content5-f P {
  color: #8f99af;
}
#social-buttons2-1b .mbr-section-title {
  color: #5cb85c;
  font-size: 24px;
  font-family: 'PT Sans Narrow', sans-serif;
}
#footer1-c P {
  color: #435968;
}
#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #135e91;
}
#footer1-p P {
  color: #435968;
}
#content5-q .mbr-section-title {
  color: #135e91;
}
#content1-1r P {
  text-align: left;
}
#content4-18 H4 {
  color: #135e91;
}
#content4-10 H4 {
  color: #135e91;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-s .navbar-toggler {
  color: #135e91;
}
#footer1-t P {
  color: #435968;
}
#content5-u .mbr-section-title {
  color: #135e91;
}
#content4-17 H4 {
  color: #135e91;
}
#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1g .navbar-toggler {
  color: #135e91;
}
#content5-1h .mbr-section-title {
  color: #135e91;
}
#footer1-1k P {
  color: #435968;
}
#dropdown-menu-15 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-15 .nav .link,
#dropdown-menu-15 .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-15 .navbar,
#dropdown-menu-15 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-15 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-15 .dropdown-menu a:hover,
#dropdown-menu-15 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-15 .navbar-toggler {
  color: #135e91;
}
#content5-1c .mbr-section-title {
  color: #135e91;
}
#content4-1d H4 {
  color: #135e91;
}
#footer1-16 P {
  color: #435968;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1em;
  color: #135e91;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-w .navbar-toggler {
  color: #135e91;
}
#form1-1l .mbr-section-title {
  color: #135e91;
}
#footer1-x P {
  color: #435968;
}
